body {
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: #f3f3f3;
  color: #222;
  text-align: center;
  margin: 0;
  padding: 0;
}

.passo {
  display: none;
  padding: 20px;
}

.passo.ativo {
  display: block;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #005fcc;
}
